<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>

</head>
<body>
	<h1>Welcome Home! <%= username %></h1> 

	<a href="/addEmployee">Add employee</a>| 
	<a href="/allEmpList">AllEmpList</a>| 
	<a href="/logout">Logout</a>
	
</body>
</html>
