<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">

</head>
<body>
	<h1>Welcome Home! <%= username %></h1> 

	<a href="/user/view_users">Add employee</a>| 
	<a href="/user/create">AllEmpList</a>| 
	<a href="/logout">Logout</a>
	
</body>
</html>
